### Java ###
# Compiled class file
*.class

# Log file
*.log*

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# FightingICE
.metadata
.recommenders
.classpath
.project
.settings
bin
FightingICE/data/ai/*
!.gitkeep
FightingICE/data/aiData/*
!.gitkeep
FightingICE/log/point/*
!.gitkeep
FightingICE/log/replay/*
!.gitkeep
FightingICE/log/err/*
!.gitkeep
FightingICE/log/json/*
!.gitkeep
FightingICE/log/out/*
!.gitkeep
FightingICE/debugData
*.ini
